$color: DarkSlateGray    ;

ul {
    font-size: 14px;
    color: $color;
}

ol {
    font-size: 18px;
    color: $color;
}

table {
	th {
   	 color: DarkBlue ;
    }

	td {
      background: white;
    }
}

%message {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.warning {
    @extend %message;
    background-color: orange;
}